@import '../theme';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

i {
  padding-right: 5px;
}

.page-header {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.stats {
  @media(min-width: $screen-sm-min) {
	text-align: center;
  }

  margin-bottom: 35px;
  border-color: lighten($light-blue, 35%);

  > .panel-body {
	background-color: lighten($light-blue, 40%);
	padding: 7px;

	color: $gray;
  }

  i {
	padding-right: 0;
	width: 20px;
  }
}

.description {
  font-size: 16px;
  min-height: 200px;
  margin-bottom: 35px;
}

.files {
  .file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }

  @media(min-width: $screen-sm-min) {
	.file-info {
	  text-align: center;
	  padding-left: 5px;
	  padding-right: 5px;
	}
  }

  .file-info-right {
	text-align: right;
  }
}

.edit-title {
  margin-bottom: 10px;
  width: 400px !important;
}

.edit-description {
  width: 100% !important;
  min-height: 300px !important;
}

.bootstrap-tagsinput {
  width: 100% !important;
}