
/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #F7F7F9;
    border-style: dashed;
    border-color: #F7F7F9;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#uploadContainer {

    /* made container align itself to
   window properly */
    margin: 0 auto;
    width: 100%;

    border-radius: 20px;
    background-color: rgba(255,255,255,0.15);
}

.bannerText {
    font-size: 20px;
}
.centered{
    margin: 0 auto;
    width: 80%;
}


.bannerText {
    text-align: center;

    font:normal 40pt Lato;
    color:#FFFFFF;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.main {
    margin-top: 10%;
}

.glyphicon-spacer {
    margin-right: 10px;
}

.text {
    text-align: center;
    font: normal 20pt Lato;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.content {
    margin-top: 70px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}