//
// This file contains various variables defining the application's theme.
// It also contains customized variables for bootstrap.
//

// global settings
$dark-blue: #0E2D68;
$light-blue: #2B9DEB;

// bootstrap variables
$navbar-inverse-color: #FFFFFF;
$navbar-inverse-bg: $dark-blue;
$navbar-inverse-link-color: #FFFFFF;
$navbar-inverse-link-hover-bg: darken($dark-blue, 5%);
$navbar-inverse-link-active-bg: darken($dark-blue, 5%);