
@import "theme";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1, h2, h3, h4, h5, h6 {
  .badge {
    vertical-align: middle;
    margin-top: -0.5em;
  }
}

.main-wrapper {
  margin-bottom: 100px;
}

body {
  font-family: 'Lato';
}

.tags {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.tags-lg {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.fa-btn {
  margin-right: 6px;
}
.glyphicon-heart {
  margin-right: 5px;
}

/*table layout - last column*/
table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #F7F7F9;
  border-style: dashed;
  border-color: #F7F7F9;
  line-height: 200px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

#uploadContainer {

  /* made container align itself to
 window properly */
  margin: 0 auto;
  width: 100%;

  border-radius: 20px;
  background-color: rgba(255,255,255,0.15);
}

.bannerText {
  font-size: 20px;
}
.centered{
  margin: 0 auto;
  width: 100%;
}


.bannerText {
  text-align: center;

  font:normal 40pt Lato;
  color:#FFFFFF;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
.main {
  margin-top: 10%;
}

.glyphicon-spacer {
  margin-right: 10px;
}

.text {
  text-align: center;
  font: normal 20pt Lato;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

.content {
  margin-top: 70px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.aboutText {
  margin-top: 10px;
 margin-bottom: 10px;
}

.userThRight{
  padding: 10px;
  text-align: left;
}

.userThLeft{
  padding: 10px;
  text-align: right;
  font-weight: bold;
}

/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #0cf; }
div.jqcloud span.w9 { color: #0cf; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #39d; }
div.jqcloud span.w6 { color: #90c5f0; }
div.jqcloud span.w5 { color: #90a0dd; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #a0ddff; }
div.jqcloud span.w2 { color: #99ccee; }
div.jqcloud span.w1 { color: #aab5f0; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

/* for the lolz */

div.jqcloud span { padding: 0; }

